@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #466fac 0%, #f5f7fa 74%);
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dee6f118;
    height: 70vh;
    border-radius: 45px;
    box-shadow: 5px 5px 15px rgba(182, 240, 248, 0.171);
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    overflow:auto;
    width:100%;
    margin: 3vh;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}
span {
    font-weight: bold;
    font-size: 2.5rem;
    color: #05184e;
}
p {
    margin-top: 1vh;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 3rem;
}
h2 {
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
}
h3 {
    font-weight: lighter;
    font-size: 0.7rem;
    margin: 0;
}

.social {
    margin: 2rem;
}
 a {
     color: black;
     margin: 1rem;
 }